        <mat-toolbar color="primary">
            <span>Occasions Data Admin Interface</span>
            <span class="spacer-2"></span>
            Reload data:
            <button mat-icon-button (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </button>
       </mat-toolbar>
          
          <div class="container mat-elevation-z8">
          
              <div class="form">
                  <mat-form-field floatPlaceholder="never" color="primary">
                    <input matInput #filter placeholder="Filter issues">
                  </mat-form-field>
                </div>
          
            <mat-table #table [dataSource]="dataSource" matSort class="table-margin-bottom">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="start_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.start_date}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="end_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.end_date}}</mat-cell>
              </ng-container>
             
              <ng-container matColumnDef="sort_order">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sort Order</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.sort_order}}</mat-cell>
              </ng-container>
              
              <!-- actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" (click)="addNew()"><i class="fa fa-plus mat-icon"></i>
                  </button>
                </mat-header-cell>
          
                <mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button color="primary" (click)="startOccasionEdit(i, row.id, row.title, row.start_date, row.end_date, row.sort_order)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
            <mat-paginator #paginator
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
