.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

/* To display a border for the input */
.mat-input-flex.mat-form-field-flex{
  border: 1px solid magenta;
}

.mat-form-field {
  color: yellow;
  font-size: 16px;
  flex-grow: 1;
}
