<mat-toolbar color="primary">
    <span>Occasions Product Data</span>
    
</mat-toolbar>
  
  <div class="container mat-elevation-z8">

      <div class="form">
          <mat-form-field floatPlaceholder="never" color="primary">
            <input matInput #filter placeholder="Filter issues">
          </mat-form-field>
        </div>


    <mat-table #table [dataSource]="dataSource" matSort class="table-margin-bottom">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->

      <ng-container matColumnDef="content_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Content Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.content_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cover_verse">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cover Verse</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cover_verse}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="thumb">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Thumbnail Image Link</mat-header-cell>
       <!---         <mat-cell *matCellDef="let row;" (click)="goToUrl(row.content_id)">  -->
                   <mat-cell *matCellDef="let row;" (click)="goToUrl(row.content_id)"><img src ="{{row.thumb}}" style="width: 100px; height: 100px"></mat-cell>
      </ng-container>
      
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()"><i class="fa fa-plus mat-icon"></i>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary" (click)="startProductEdit(i, row.id, row.title, row.cover_verse, row.inside_verse, row.content_id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
       
    <mat-paginator #paginator
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <router-outlet></router-outlet>
