<div class="container">
  <h3 mat-dialog-title>Occasion Edit id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput [readonly] class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id"  disabled >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title" ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

     <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form">
        <mat-form-field color="accent">
          <input matInput [matDatepicker]="pickerstart" placeholder="Choose a Start Date" [(ngModel)]="data.start_date" name="start_date" >
            <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
            <mat-datepicker #pickerstart></mat-datepicker>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput [matDatepicker]="pickerend" placeholder="Choose an End Date" [(ngModel)]="data.end_date" name="end_date" >
              <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
              <mat-datepicker #pickerend></mat-datepicker>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

     <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Sort Order" [(ngModel)]="data.sort_order" name="sort_order">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
            
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="Products(data.id)">Products</button>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopOccasionEdit()">Save</button>
      <button mat-button (click)="onNoOccasionClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
