<h1>Home</h1>
<p>You're logged in with Angular 6 & JWT!!</p>
<div>
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.firstname}} {{user.lastname}}</li>
    </ul>
</div>
<p><a [routerLink]="['/login']">Logout</a></p>
